*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: proxima-nova, sans-serif;
	font-weight: 400;
}

/* ----------Begin Navigatiebalk mobile---------- */

/* ----------Filter op de SVG image zodat het wit word + styling---------- */
header:first-of-type img {
	line-height: 54px;
	margin-right: auto;
	margin-left: 1em;
	height: 27px;
	width: 89px;
	filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(287deg) brightness(104%) contrast(104%);
}

/* ----------Navbar styling---------- */
.navbar {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: flex-start;
	background-color: black;
	color: white;
	flex-direction: column;
}

.brand-title {
	font-size: 1.5rem;
	margin: .5rem;
}

/* ----------Laat geen links zien---------- */
.navbar-links {
	display: none;
	width: 100%;
}

.navbar-links ul {
	width: 100%;
	flex-direction: column;
}

.navbar-links li {
	list-style: none;
	text-align: center;
}

.navbar-links li a {
	text-decoration: none;
	color: white;
	padding: .5rem 1rem;
	display: block;

}

/* ----------Zorgt ervoor dat als je op de hamburger klikt het menu tevoorschijn komt---------- */

.navbar-links li:hover {
	background-color: rgb(26, 163, 74);
	opacity: 0.9;
}

.toggle-button {
	position: absolute;
	top: 0.3rem;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 30px;
	height: 21px;
}

.toggle-button span {
	height: 2px;
	width: 100%;
	background-color: white;
	border-radius: 10px;
}

.navbar-links.active {
	display: flex;
}

.show {
	display: block;
}

/* ----------Einde navigatiebalk mobile---------- */

/* ----------Begin main content---------- */

/* ----------Begin 1e Section landingspage---------- */
section:nth-of-type(1) {
	text-align: center;
	height: calc(100vh - 102px);
}

section:nth-of-type(1) h4 {
	font-size: 18px;
	color: rgb(145, 148, 150);
	font-weight: 700;
	margin-top: 24px;
	margin-bottom: 0px;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	white-space: nowrap;
}

section:nth-of-type(1) p {
	font-size: 12px;
	color: white;
	font-weight: 700;
	line-height: 18px;
	margin-top: 4em;
	cursor: pointer;
}

section:nth-of-type(1) h1 {
	font-size: 48px;
	font-weight: 900px;
	letter-spacing: -0.04em;
}

/* ----------Styling van de knop---------- */
section:nth-of-type(1) a {
	background-color: rgb(26, 163, 74);
	color: white;
	border-radius: 35px;
	padding: 19px 56px 21px 56px;
	margin: 32px 0px 32px 0px;
	border: rgb(26, 163, 74);
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	display: inline-block;
}

/* ----------Hover de muis over de button voor een visuele aanpassing---------- */
section:nth-of-type(1) a:hover {
	color: white;
	opacity: 0.8;
}

/* ----------Zorgt voor de gradient---------- */
main::before {
	background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), to(#000));
	background-image: linear-gradient(transparent, #000);
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

section:nth-of-type(1) {
	width: 100vw;
	height: 85vh;
	color: #fff;
}

section:nth-of-type(1)::before {
	background-color: #509BF5;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#C074B2), to(#8AB5E8));
	background-image: linear-gradient(#C074B2, #8AB5E8);
	content: '';
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	padding-top: 5vh;
	position: absolute;
	z-index: -2;
}


/* ---------- Scrollen - White space zodat het naast elkaar staat---------- */
section:nth-of-type(1) ul {
	display: inline-block;
	overflow-x: scroll;
	width: 100%;
	white-space: nowrap;
}

/* ----------Zorgt voor de grootte voor het albumblok---------- */
section:nth-of-type(1) li {
	display: inline-block;
	width: 55%;
	max-width: 400px;
	padding: 3rem 3rem 0 3rem;
}


/* ----------Shaduw aan het album---------- */
section:nth-of-type(1) ul li figure {
	-webkit-box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
	box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}


/* ----------Width zorgt dat de img zich aan de block grootte houd---------- */
section:nth-of-type(1) ul li figure img {
	display: block;
	width: 100%;
	height: auto;
}


section:nth-of-type(1) ul li figure figcaption h4 {
	margin-top: 0;
}

/* ----------Weghalen desktop figcaption---------- */
section:nth-of-type(1) ul li figure figcaption {
	display: none;
}


/* ----------mobile figcaption---------- */
section:nth-of-type(1) ul li figcaption {
	color: #fff;
}

/* ----------mobile figcaption---------- */
section:nth-of-type(1) ul li figcaption:nth-last-child(1) a {
	background: none;
	color: rgb(26, 163, 74);
	font-size: 14px;
	padding: 0;
	cursor: pointer;
	margin-top: 1em;
}

/* ----------Artiest titel aanpassen---------- */
section:nth-of-type(1) ul li figcaption:nth-last-child(1) p {
	margin: 0;
	font-size: 16px;
	color: rgb(193, 195, 198);
	font-weight: 400;
	line-height: 18px;
	margin-top: 0.5em;
	cursor: pointer;
}

/* ----------Einde 1e Section landingspage---------- */


/* ----------Begin 2e Top geluisterde nummers ---------- */

section:nth-of-type(2) {
	background-color: #1E3264;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#2C5E92), to(#552F6D));
	background-image: linear-gradient(#2C5E92 0%, #552F6D 80%);
}

section:nth-of-type(2) {
	display: inline-block;
	text-align: center;
	align-content: center;
	color: #FFF;
}

section:nth-of-type(2) h2 {
	font-size: 32px;
	font-weight: 1200;
	margin-bottom: 0.5em;
	margin-top: 2em;
}


section:nth-of-type(2) p {
	margin-bottom: 12px;
	background-color: rgba(30, 50, 100, 0.25);
	display: inline-block;
	font-size: 12px;
	padding: 4px 16px;
	margin-top: 3em;
}

/* ----------Zorgt voor het blok achter de artiestnaam---------- */
section:nth-of-type(2) h4 {
	margin: 0px -20px;
	background-color: rgb(30, 50, 100);
	padding: 12px 40px;
	text-align: center;
}

section:nth-of-type(2) a {
	display: block;
	color: rgb(26, 163, 74);
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	margin-top: 1em;
	text-decoration: none;
}

section:nth-of-type(2) a:hover {
	color: white;
}

/* ----------Zorgt voor de grootte voor het albumblok---------- */
section:nth-of-type(2) figure {
	display: inline-block;
	width: 55%;
	max-width: 400px;
	padding: 1rem;
}


/* ----------Width zorgt dat de img zich aan de block grootte houd---------- */
section:nth-of-type(2) figure img {
	display: block;
	width: 100%;
	height: auto;
}


/* ----------Einde 2e Section Top geluisterde nummers ---------- */




/* ----------Begin 3e Section Haal het meeste uit Spotify---------- */

section:nth-of-type(3) {
	text-align: left;
	margin-left: 2em;
	padding-bottom: 80px;
	text-align: left;
}

section:nth-of-type(3) h2 {
	font-size: 32px;
	font-weight: 1200;
	margin-bottom: 0.5em;
	margin-top: 2em;
	width: 100%;
}

section:nth-of-type(3) h4 {
	font-size: 20px;
	font-weight: 900;
	margin-top: 24px;
	margin-bottom: 12px
}

section:nth-of-type(3) p {
	margin: .5em 0 1em;
	font-size: 16px;
	font-weight: 400;
}

section:nth-of-type(3) a {
	color: rgb(26, 163, 74);
	font-size: 12px;
	letter-spacing: 2px;
	font-weight: 700;
	cursor: pointer;
	margin-top: 1em;
	text-decoration: none;
}

article:nth-of-type(3)>p a:nth-of-type(1) {
	font-size: 16px;
	color: rgb(26, 163, 74);
	font-weight: 400;
	letter-spacing: 0px;
}

/* ----------Einde 3e Section Haal het meeste uit Spotify---------- */




/* ----------Begin premium.html pagina mobiele versie---------- */

/* ----------Begin 1e Section landingspage pagina 2---------- */
.tweedepagina section:first-of-type {
	color: black;
	display: inline-block;
	background-color: rgb(240, 55, 165);
	width: 100%;
	max-width: 100%;
	text-align: left;
	padding: 35px 15px;
	width: 100vw;
	height: 100vh;

}

section:nth-of-type(1) h1 {
	margin-top: 1em;
	font-size: 48px;
	font-weight: 900px;
	letter-spacing: -0.04em;
}

.tweedepagina section:nth-of-type(1) a {
	background-color: rgb(31, 31, 31);
	text-align: center;
	padding: 15px 60px;
}

.tweedepagina section:nth-of-type(1) a:hover {
	color: rgb(26, 163, 74);
}

.tweedepagina section:nth-of-type(1) h3 {
	line-height: 1.5;
	display: inline-block;
	font-weight: 500;
	font-size: 18px;
	margin: 15px 0px 0px;
	width: 100%;
	max-width: 100%;
}

.tweedepagina section:nth-of-type(1) img {
	width: 100%;
}

/* ----------Einde 1e Section landingspage pagina 2---------- */


/* ----------Begin 2e Section Waarom Premium mobiel pagina 2---------- */

.tweedepagina section:nth-of-type(2) {
	background-color: white;
	background-image: none;
	display: flex;
	flex-direction: column;
}

.tweedepagina section:nth-of-type(2) article>h4 {
	background-color: white;
	color: #000;
	margin: 0;
}

.tweedepagina section:nth-of-type(2) h2 {
	color: black;
}

.tweedepagina section:nth-of-type(2) h4 {
	font-size: 16px
}

.tweedepagina section:nth-of-type(2) article {
	display: block;
}

.tweedepagina section:nth-of-type(2) p {
	background-color: white;
	color: black;
	margin-top: -2px;
	font-size: 16px;
}

/* ----------Einde 2e Section Waarom Premium mobiel pagina 2---------- */


/* ----------Begin form mobiel---------- */

form {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
}

fieldset {
	padding: 20px;
	border: 2px solid rgb(26, 163, 74);
	margin-bottom: 20px;
	margin-right: 2em;
	text-align: left;

}

/* ----------Stijlt de verschillende inputs---------- */
input[type=text],
input[type=email],
select {
	width: 100%;
	padding: 12px 0px;
	margin: 20px 0;
	display: inline-block;
	border: 2px solid rgb(26, 163, 74);
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgb(26, 163, 74);
	color: white;
}

input[type=text]:focus,
input[type=email]:focus,
select:focus {
	border: 3px solid rgb(240, 55, 165);
}

input[type=submit] {
	background-color: rgb(26, 163, 74);
	color: white;
	border-radius: 35px;
	padding: 19px 56px 21px 56px;
	margin: 32px 0px 32px 0px;
	border: rgb(26, 163, 74);
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 2px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: darkgreen;
}
/* ----------Einde form ---------- */

/* ----------Einde premium.html pagina mobiel---------- */

/* ----------Einde main content--------- */


/* ----------Begin footer opmaak---------- */

footer {
	background-color: #000;
	padding-bottom: 100px;
	padding-top: 30px;
}

footer>ul>li:first-child {
	margin-top: 50px;
	margin-bottom: 20px;
	margin-left: 3em;
	color: #919496;
	font-size: 12px;
	font-weight: 900;
	letter-spacing: .1em;
	text-transform: uppercase;
	list-style-type: none;
}

footer li {
	padding: 3px 0 15px;
}

footer li a {
	text-decoration: none;
	margin-left: 2.2em;
	font-size: 16px;
	font-weight: 400;
	color: white;
}

footer li a:hover {
	color: rgb(26, 163, 74);
}

/* ----------Einde footer opmaak---------- */




@media (min-width: 900px) {


	/* ----------Begin navbar desktop---------- */

	.navbar {
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: black;
		color: white;
		flex-direction: row;
	}

	.brand-title {
		font-size: 1.5rem;
		margin: .5rem;
	}

	.navbar-links {
		display: flex;
	}

	.navbar-links ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}

	.navbar-links li {
		list-style: none;
	}

	.navbar-links li a {
		text-decoration: none;
		color: white;
		padding: 1rem;
		display: block;

	}

	.navbar-links li:hover {
		background-color: rgb(26, 163, 74);
		opacity: 0.9;
	}

	.toggle-button {
		display: none;
	}

	/* ----------Einde navbar desktop---------- */


	/* ----------Begin opmaak desktop---------- */
	section:nth-of-type(1) {
		width: 100%;
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		text-align: left;
		align-items: center;
		height: calc(100vh - 54px);
	}

	section:nth-of-type(1)>div:first-of-type {
		width: 45%;
		padding: 0 15px;
	}

	section:nth-of-type(1)>div:nth-of-type(2) {
		width: 55%;
	}


	/* ----------- Albums ------------ */
	section:nth-of-type(1)>div>ul {
		display: flex;
		flex-wrap: wrap;
		overflow-x: visible;
		width: 100%;
	}

	/* ----------Zorgt voor de grootte voor het albumblok---------- */
	section:nth-of-type(1) li {
		display: block;
		width: 33%;
		padding: 1rem;
	}

	section:nth-of-type(1) figure {
		position: relative
	}

	/* ----------Desktop figcaption---------- */
	section:nth-of-type(1) ul li figure figcaption {
		background: rgba(0, 0, 0, 0.6);
		transition: .5s ease;
		position: absolute;
		opacity: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: block;
		text-align: center;
		padding: 3rem .5rem 3rem .5rem;
	}

	section:nth-of-type(1) ul li figure figcaption:hover {
		opacity: 1;
	}

	/* ----------mobile figcaption weghalen---------- */
	section:nth-of-type(1) ul li figcaption {
		display: none;
	}


	/* ----------Begin 2e Section Je nieuwste luistertrends---------- */
	section:nth-of-type(2) {
		padding-top: 10px;
		padding-bottom: 60px;
		width: 100%;
	}

	section:nth-of-type(2) h4 {
		margin: auto;
	}

	section:nth-of-type(2) h2 {
		text-align: center;
		font-size: 40px
	}

	/* ----------Einde 2e Section Je nieuwste luistertrends---------- */

	/* ----------Begin 3 Section Haal het meeste uit Spotify---------- */
	/* ----------Bron:https://stackoverflow.com/questions/41789278/first-child-full-width-in-flexbox/41789386---------- */

	section:nth-of-type(3) {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		text-align: center;
	}

	section:nth-of-type(3) h2 {
		font-size: 40px;
		width: 100%;
	}

	section:nth-of-type(3) article {
		width: 33%;
	}


	/* ----------Einde 3e Section Haal het meeste uit Spotify---------- */

	/* ----------Begin premium.html pagina desktop---------- */

	.tweedepagina section:nth-of-type(1)>div:first-of-type {
		width: 100%;
		background-color: rgb(240, 55, 165);
		max-width: 1140px;
		margin: 0 auto;
		display: flex;
		text-align: left;
		align-items: center;
		height: calc(100vh - 54px);

	}

	.tweedepagina section:nth-of-type(2) {
		flex-direction: row;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	.tweedepagina section:nth-of-type(2) h2 {
		width: 100%;
		padding-bottom: 60px;
	}

	.tweedepagina section:nth-of-type(2) article {
		width: 20%;
	}

	.tweedepagina section:nth-of-type(1) img {
		width: 40%;
	}

	form {
		width: 50%;
		margin: 0 auto;
	}
	
	/* ----------Begin premium.html pagina desktop---------- */


	/* ----------Einde opmaak desktop---------- */

	/* ----------Begin Footer---------- */

	footer {
		display: flex;
		justify-content: space-evenly;
		flex-wrap: wrap;
	}

	footer img {
		width: 100%;
	}

	/* ----------Einde Footer---------- */
}